
.body{
color: black;
background-color: white;
position: relative;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 60px;
    margin-right:50px ;
    margin-left: 50px;
}
    